body {
    text-align: center;
    background-color: #acffab;
}
#main {
    font-size: 40px;
    font-family: 'Modak', cursive;;
}
#thing {
    width: 40%;
}
.middle {
    font-size: 20px;
    font-family: 'Pangolin', cursiveś;
}
.ijuik {
    font-size: 30px;;
}